/* CSS Document */
#logo1{
	width:250px;
	height:100px;
	margin-top:100px;
}
#main{
	width:57.7%;
	height:100px;
	float:left;
	margin-left:20%;
	margin-top:10px;
}
#main20{

	width: 100%;
	height: 800px;
	float:left;

}
#word{
	width:57.7%;
	height:20px;
	float:left;
	margin-left:20%;
}
#input{
	width:55%;
	height:45px;
	margin-top:5px;
	margin-left:19.7%;
	float:left;
}
#botten{
	width:10%;
	height:45px;
	float:left;
	margin-top:5px;
	margin-left:3px;
}
#document{
	width:11%;
	height:45px;
	float:left;
	margin-left:5px;
	text-align:center;
	margin-top:5px;
	}
#main1{
	width:57.7%;
	height:200px;
	float:left;
	margin-left:20%;
	margin-top:10px;
}
#sou{
	width:10%;
	height:30px;
	float:left;
	margin-top:-9.3%;
	margin-left:77%;
}
#viewmain{
	width:50%;
	height:100px;
	float:left;
	margin-top:20px;
	margin-left:10px;
}
#logo2{
	width:102px;
	height:46px;
	float:left;
}
#viewmain1{
	width:50%;
	height:20px;
	float:left;
	margin-top:20px;
	margin-left:20px;
}
#viewinput{
	width:77.7%;
	height:43px;
	margin-top:-12px;
	float:left;
	margin-left:10px;
}
#viewbotten{
	width:16%;
	height:43px;
	float:left;
	margin-left:10px;
	margin-top:-12px;
}
#totle{
	width:45%;
	height:950px;
	margin-left:20px;
	}
#result{
	width:100%;
	height:85px;
	margin-top:10px;
	}
#result1{
	height:20px;
	width:100%;
	white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
#result2{
	width:100%;
	height:60px;
	overflow: hidden;
	margin-top:5px;
}
#page{
	width:80%;
	height:40px;
	margin-top:10px;
	margin-left:20px;
}
#document1{
	width:80px;
	height:45px;
	float:left;
	margin-left:5px;
	text-align:center;
	margin-top:60px;
}
#kind{
	margin-left:20px;
	float:left;
	width:38.5%;
	height:25px;
	text-align:center;
	margin-top:-20px;
}
#time{
	margin-left:20px;
	width:500px;
	height:25px;
	margin-top:5px;
}
#null{
	margin-left:20px;
	width:50px;
	height:9px;
	margin-top:30px;
}
